.titre-principal{
    font-family: 'Cute Font', cursive;
    color: blueviolet;

}

h1 {
    color: aquamarine;
}

#presentation{
    margin-left: 15px;
    font-style: italic;
}
#cv-borderleft{
    border-bottom: solid;
    border-top: solid;
    border-left: solid;
}
#cv-borderright{
    border-bottom: solid;
    border-top: solid;
    border-right: solid;
}
.cvleft{
    padding-top: 10px;
    padding-bottom: 5px;

}

.description{
    color: gray;
    font-style: italic;
padding-left: 15px;
}

img {
    max-width: 180px;

}
.ml4 {
    position: relative;
    font-weight: 900;
    font-size: 4.5em;
}
.ml4 .letters {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0.3em;
    right: 0;
    opacity: 0;
}
.formTitle{
    border-style: inset;
    display: block
}


.cv-part{
    margin-top: 40px;
}

#name {
    font-size: 2em;
    margin-left: 300px;
    margin-top: 110px;
}

.navTitle{
    font-size: 1.2em;
    font-family: 'Pacifico', cursive;
    color: #1d2124;
}

header.headPers{
    text-align:center;
    color:#fff;
    background-image:url(../img/cahier_fond.jpg);
    background-repeat:no-repeat;
    background-attachment:scroll;
    background-position:center center;
    background-size:cover}

.white{
    font-size: 50px;
    opacity: 0;
}

.headTitle{
    font-size: 3.5em;
    font-family: 'Pacifico', cursive;
    color: #1d2124;
}
.smalmarg{
    padding-left: 10px;
}

#picture {
    margin-top: 40px;
    margin-left: 100px;

}

#left-cv-zone{
    margin-top:40px;
    margin-left: 25px;
}

.newTitle{
    font-size: 3.5em;
    font-family: 'Pacifico', cursive;
    color: #1d2124;
    margin-left: auto;
    margin-right: auto;
    width: 5em
}
#cv-page{
    margin-top:60px;
    margin-left: 110px;
}

.subTitle{
    font-size: 2.5em;
    font-family: 'Pacifico', cursive;
    color: #062c33;
    margin-left: auto;
    margin-right: auto;
    width: 5em
}
footer {position: absolute; bottom: 0;}

footer.icone{
    size: 64px 64px;
}
.footer{padding:25px 0;text-align:center}


.center-div {
    margin-left: auto;
    margin-right: auto;
    width: 1em;
}

.button {
background-color:#fed136;
    border-color:#fed136;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #fed136;
}

.button1:hover {
    background-color: #fed136;
    color: white;
}
.btn-xl{
    font-size:18px;
    padding:20px 40px}

.roundPhotoId {
    overflow: hidden;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 150px;
    height: 150px;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 13px;
    font-weight: bold;
}

::-webkit-file-upload-button {
    cursor: pointer;
}

.upload-btn-wrapper input[type=file] {
    font-size: 40px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.bodyNew{
    background-color: darkslategrey;
    color: floralwhite;
}
