
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Watch your family</title>
    <link th:href="@{/css/all.min.css}" rel="stylesheet" type="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand navTitle" href="/api">Watch your family</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
<p th:field="${message}"></p>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/api">Accueil  <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/medecin">Suivre mes patients </a>
            </li>
           <!-- <li class="nav-item">
                <a class="nav-link" href="/api/famille">Famille </a>
            </li>-->
        </ul>
    </div>
</nav>

<!-- Header -->
<header class="headPers">
    <div class="container">
        <div class="intro-text">
            <div class="white">l</div>
            <div class="headTitle">Suivi patients</div>
            <div class="white">l</div>
        </div>

    </div>

</header>
<div class="container">
    <div class="white">l</div>
    <a class="button button1" href="/api/medecin">Suivre mes patients</a>
</div>

<!--
<footer class="footer">

    <div class="container align-content-center">
        <label>Nous contacter :</label>
        <div class="row">
            <div class="col-md-4">
                <a href="https://fr.linkedin.com ">
                    <img src="https://img.icons8.com/wired/64/000000/linkedin.png">
                </a>
            </div>
            <div class="col-md-4">
                <a href="https://www.facebook.com/">
                    <img src="https://img.icons8.com/wired/64/000000/facebook.png">
                </a>
            </div>
            <div class="col-md-4">
                <a href="https://twitter.com/">
                    <img src="https://img.icons8.com/wired/64/000000/twitter.png">
                </a>
            </div>
        </div>
    </div>

</footer> -->

</body>

       <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
</html>
